/* COMPONENTS */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}

header, footer {
  background-color: rgba(85, 117, 113, 0.5);
  padding: 8px;
  width: 100%;
}

p {
  font-size: 18px;
  color: rgb(244, 244, 244);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0;
}

h1, h2 {
  text-align: center;
  color: rgb(155, 56, 84);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 5px solid rgb(155, 56, 84);
  background-color: rgb(244, 244, 244);
  border-radius: 5px;
  box-shadow: 0px 0px 0px 8px rgba(155, 56, 84,0.3);
}

h1 {
  margin-left: 200px;
  margin-right: 200px;
  padding: 5px;
}

h2 {
  padding: 5px;
}

a, label {
  text-decoration: none;
  color: rgb(244, 244, 244);
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

i {
  color: rgb(155, 56, 84);
  font-size: xx-large;
}

button, #send-button {
  background-color: rgb(85, 117, 113);
  border-radius: 5px;
  border: 2px solid rgb(244, 244, 244);
  font-size: 18px;
  color: rgb(244, 244, 244);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
}

/* CLASSES */

.banner-picture {
  width: 300px;
  border-radius: 50%;
  border: 5px solid rgb(155, 56, 84);
  margin: 0;
}

.banner {
  flex-wrap: wrap;
}

.banner, .spotify, .youtube, .cta, .spotify-cards, footer, header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.banner, .spotify, .youtube, .cta, .spotify-cards, footer {
  margin-top: 30px;
}

.header-links {
  display: flex;
  gap: 20px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-content p {
  max-width: 75%;
}

.toggle {
  margin-left: 40%;
  margin-right: 40%;
}

.spotify-cards {
  flex-wrap: wrap;
  gap: 30px;
}

.spotify, .youtube {
  flex-direction: column;
}

.spotify-cards {
  margin-top: 0;
}

.cta {
  box-shadow: 0px 0px 0px 8px rgba(155, 56, 84,0.3);
  background-color: rgb(155, 56, 84);
  border-radius: 5px;
  padding: 10px;
  min-width: 22%;
  max-width: fit-content;
  display: flex;
  justify-content: center;
}

/* IDS */

#wallpaper {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  object-fit: cover;

  z-index:-100;
  overflow-clip-margin: content-box;
  overflow: clip;
}

#youtube-video, .youtube p {
  max-width: 90%;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

/* MEDIA QUERIES */

@media (max-width: 1080px) {
  .toggle {
    display: none;
  }
}
