/* COMPONENTS */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  gap: 50px;
  flex-direction: column;
  background: rgb(0, 0, 0);
}

header, footer {
  background-color: rgb(85, 117, 113);
}

p {
  font-size: 18px;
  color: rgb(244, 244, 244);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 0;
}

h1, h2 {
  text-align: center;
  color: rgb(155, 56, 84);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 5px solid rgb(155, 56, 84);
  background-color: rgb(244, 244, 244);
  border-radius: 5px;
  box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.3);
}

h1 {
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
}

h2 {
  padding: 5px;
}

img {
  width: 400px;
  border-radius: 50%;
  border: 5px solid rgb(155, 56, 84);
}

a {
  text-decoration: none;
  color: rgb(244, 244, 244);
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

i {
  color: rgb(155, 56, 84);
  font-size: xx-large;
}

button {
  background-color: rgb(85, 117, 113);
  border-radius: 5px;
  border: 2px solid rgb(244, 244, 244);
  font-size: 18px;
  color: rgb(244, 244, 244);
  padding-top: 5px;
  padding-bottom: 5px;
}

/* CLASSES */

.banner, .spotify, .youtube, .cta, .spotify-cards, footer, header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header-links {
  display: flex;
  gap: 20px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.toggle {
  margin-left: 40%;
  margin-right: 40%;
}

.spotify-cards, .banner {
  flex-wrap: wrap;
}

.spotify, .youtube {
  flex-direction: column;
}

.cta {
  box-shadow: 0px 0px 0px 8px rgba(155, 56, 84,0.3);
  background-color: rgb(155, 56, 84);
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* IDS */

#wallpaper {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 1920px;
  min-height: 1080px;
  height: 100vh;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index:-100;
}
